:root {
    --header-dark-color: #243456;
    --header-light-color: #92cccd;
    --body-bkgd-color: #ededf6;
    --body-text-color: #445876;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*********
* Style the page title area
/*********/

/* First the main title */
header {
    background-color: var(--header-dark-color);
}

.page-title {
    /* height: 100px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-title h1 {
    color: var(--header-dark-color);
    background-color: var(--header-light-color);
    /* display: inline-block; */
    flex: 1 1 40%;
    text-align: right;
    /* width: 40%; */
    padding: 5px;
    font-size: 200%;
}

.page-title nav {
    /* display: inline-block; */
    /* width: 55%; */
    flex: 1 0 55%;
    text-align: right;
}

.page-title li {
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid var(--header-light-color);
}

.page-title a {
    color: var(--header-light-color);
    text-decoration: none;
}

/* Now the sub-heading */

section.page-subtitle {
    position: relative;
    width: 100%;
    padding: 10px;
    height: 150px;
    background-image: url(../images/pawel-czerwinski-prMn9KINLtI-unsplash.jpg);
}

.page-subtitle p {
    position: absolute;
    right: 50px;
    bottom: 0px;
    font-size: 140%;
    font-weight: 500;
    padding: 15px;
    color: var(--header-dark-color);
    background-color: var(--header-light-color);
    display: inline;
}

/****************
* Styling the main body of the content
****************/

body {
    color: var(--body-text-color);
    background-color: var(--body-bkgd-color);
}

h2 {
    font-size: 200%;
}

.flexed {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.left-text-block {
    flex: 0 0 150px;
    padding: 0px 10px 20px;
    text-align: right;
    border-right: 3px solid black;
}

main .right-content-block {
    flex: 1 1 650px;
    /* nested flexbox for project tiles */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.first-project {
    flex: 1 1 100%;
    height: 20pc;
    border: 1px solid black;
}

.project {
    flex: 1 1 45%;
    height: 10pc;
    border: 1px solid red;
}

/****************
* Styling the footer
****************/

footer .right-content-block {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer p {
    padding: 5px;
    border-bottom: 2px solid var(--body-text-color);
}

footer a {
    text-decoration: none;
    color: var(--body-text-color);
}